body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

form ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px;
}

form ul li {
    color: red;
}

.input-group-prepend {
    width: 200px;
}

.input-group-prepend label {
    width: 100%;
}
